@model List<EntityLayer.Entities.User>
@{
    ViewBag.Title = "UserList";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>KULLANICILAR</h2>

<table class="table table-bordered">
    <tr>
        <th>Ad Soyad</th>
        <th>Email</th>
        <th>Kullanıcı Adı</th>
        <th>Şifre</th>
        <th>Sil</th>
    </tr>
     @foreach (var item in Model)
     {
         <tr>
             <td>@item.Name</td>
             <td>@item.Email</td>
             <td>@item.Username</td>
             <td>@item.Password</td>
             <td>@Html.ActionLink("Sil", "UserDelete", new { item.Id }, new { @class = "btn btn-danger", onclick = "return confirm ('Silmek istyior musunuz?') " }) </td>
         </tr>
     }

</table>

